*{
  margin: 0;
  padding: 0
}
body{
  font-family: 'Ubuntu', sans-serif;
}
/**** Container *****/
.container{
  display: flex;
  flex-direction: column
}

/**** Banner *****/
.intro {
  background-color: #33C1FF;
  margin-top: 30px;
  height: 100px;
}
.intro h1 {
  text-align: center;
  color: white;
  padding: 25px;
  font-family: 'Beth Ellen', cursive;
}

/******* Rating *******/
.rating-container{
  display: flex;
  flex-direction: column
}

/******* Search *******/
.search-container{
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 30px;
  align-content: baseline
}

/****** Display movies *******/

.add-btn{
  background-color: white !important; 
  color: #33C1FF !important;
  width: 100px;
  font-size: 2em !important;
  margin-top:60px
}
/**** Div Button + ******/
.add-movie{
  position: fixed;
  right: 0%;
  top: 36%;
}

/****** Modal Style ***********/
.addmovie-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 300px;
}
.addmovie-btn{
  display: flex;
  justify-content: space-around;
  width: 400px
}
.list-movies {
  display: flex;
}
.list-movies-map {
  display: flex;
  flex-wrap: wrap;
  width:900px
}